<a href="https://colab.research.google.com/github/Bhavana453/ASSIGNMENT.....-2/blob/master/Tuple_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 
# create dictionary from string
str1 = 'w3resource' 
my_dict = {}
for letter in str1:
    my_dict[letter] = my_dict.get(letter, 0) + 1
print(my_dict)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [2]:
 
#to create and display letters
import itertools      
d ={'1':['a','b'], '2':['c','d']}
for combo in itertools.product(*[d[k] for k in sorted(d.keys())]):
    print(''.join(combo))

ac
ad
bc
bd

In [5]:
 
# convert tuple to string
tup = ('d', 'e', 'e', 'k', 's', 'h', 'i') 
str =  ''.join(tup)
print(str)

deekshi

In [7]:
 
# to slice a tuple
my_tuple = ('i', 'g', 'k', 'l')
print(my_tuple[1:]) 
print(my_tuple[:2]) 
print(my_tuple[1:3]) 
print(my_tuple[::2])

('g', 'k', 'l')
('i', 'g')
('g', 'k')
('i', 'k')

In [9]:
 
#create a tuple
tuplex = tuple("banglore gitam university")
print(len(tuplex))

25